<h2>Restaurant Category: <%= @category.category_name  %></h2>

  <% @category.restaurants.each do |x| %>

  <p>Restaurants: <%= link_to x.name, "/restaurants/#{x[:id]}" %></p>

  <% end %> 

  <%#= collection_select(:category, :id, Category.all,
Category.name, Category.) %>

  <%#= collection_select(:category, :restaurants, Restaurants.all, :id, Category.name, prompt: true) %>

 
<%# Category.all.collect { |c| [c.category_name, c.id]}%>